# VacationPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

## Pull Cities Data from VacationPy to Dataframe

In [2]:
# Cities Data from WeatherPY
cities_data_file = "../WeatherPy/Cities Compiled.csv"
city_df = pd.read_csv(cities_data_file)
del city_df['Unnamed: 0']
city_df.head()

,City,Latitude,Longitude,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Camopi,3.1655,-52.3158,71.83,98,100,2.84,GF,2021-02-11 01:12:37
1,Nouadhibou,20.9310,-17.0347,64.40,72,0,18.41,MR,2021-02-11 01:12:37
2,Portland,45.5234,-122.6762,45.00,49,75,4.61,US,2021-02-11 01:07:48
3,Ahipara,-35.1667,173.1667,66.45,71,99,11.50,NZ,2021-02-11 01:12:38
4,Khomutovo,52.4658,104.4025,-2.20,92,0,2.24,RU,2021-02-11 01:12:38

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure Gmaps
gmaps.configure(api_key=g_key)

In [4]:
locations = city_df[['Latitude','Longitude']]
humidity = city_df['Humidity']
new_york_coordinates = (40.75, -74.00)
fig = gmaps.figure(center=new_york_coordinates, zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
nice_cities_df = city_df.loc[(city_df['Maximum Temperature'] <= 100) & (city_df['Maximum Temperature'] >= 65) \
                                                                    & (city_df['Wind Speed'] < 20) \
                                                                    & (city_df['Cloudiness'] <= 30) \
                                                                    & (city_df['Humidity'] <= 60)].dropna()
nice_cities_df

,City,Latitude,Longitude,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
17,Arlit,18.7369,7.3853,68.76,19,0,6.80,NE,2021-02-11 01:12:42
23,Tessalit,20.1986,1.0114,66.92,19,0,10.45,ML,2021-02-11 01:12:44
35,Hobart,-42.8794,147.3294,73.99,46,0,5.75,AU,2021-02-11 01:12:48
44,Bayamo,20.3792,-76.6433,75.20,50,20,13.80,CU,2021-02-11 01:10:35
81,Abéché,13.8292,20.8324,66.29,26,0,11.88,TD,2021-02-11 01:13:03
99,Mount Isa,-20.7333,139.5000,91.40,49,0,6.91,AU,2021-02-11 01:13:09
119,Salalah,17.0151,54.0924,73.40,38,0,6.91,OM,2021-02-11 01:13:15
127,Gladstone,-23.8500,151.2500,82.40,47,4,17.27,AU,2021-02-11 01:13:18
152,Barstow,34.8986,-117.0228,68.00,19,1,6.91,US,2021-02-11 01:13:26
183,Matamoros,25.5333,-103.2500,82.40,10,1,8.70,MX,2021-02-11 01:13:36
209,Coacoyul,17.8058,-99.1100,82.99,33,0,8.41,MX,2021-02-11 01:13:44
244,Flinders,-34.5833,150.8552,80.01,59,0,4.00,AU,2021-02-11 01:13:56
255,Birao,10.2849,22.7882,65.71,25,0,2.91,CF,2021-02-11 01:14:00
257,Adelaide,-34.9333,138.6000,97.00,22,0,6.91,AU,2021-02-11 01:14:01
262,Acajutla,13.5928,-89.8275,82.40,54,20,3.44,SV,2021-02-11 01:14:02
297,Qandala,11.4720,49.8728,73.26,55,3,5.57,SO,2021-02-11 01:14:15
318,Maridi,4.9158,29.4742,71.82,31,22,3.65,SS,2021-02-11 01:14:22
330,Taoudenni,22.6783,-3.9836,65.39,23,0,10.98,ML,2021-02-11 01:14:25
360,Kaduna,10.5222,7.4383,69.71,20,0,7.81,NG,2021-02-11 01:14:34
364,Makkah al Mukarramah,21.4267,39.8261,73.63,54,0,4.83,SA,2021-02-11 01:14:35
376,Wamba,8.9333,8.6000,74.30,18,3,5.06,NG,2021-02-11 01:14:39
384,General Roca,-39.0333,-67.5833,80.60,29,0,6.91,AR,2021-02-11 01:14:42
410,Karwar,14.8000,74.1333,70.52,49,18,5.08,IN,2021-02-11 01:14:50
411,Marana,32.4367,-111.2254,71.60,15,1,5.75,US,2021-02-11 01:13:52
414,Mbour,14.4220,-16.9638,68.00,56,11,16.11,SN,2021-02-11 01:14:51
470,Nioro,13.3500,-15.7500,76.05,18,0,4.74,GM,2021-02-11 01:15:11
471,Progreso,21.2833,-89.6667,82.40,54,1,9.22,MX,2021-02-11 01:15:12
478,Geraldton,-28.7667,114.6000,71.60,46,0,19.57,AU,2021-02-11 01:15:14
526,Rabak,13.1809,32.7400,72.57,21,0,10.07,SD,2021-02-11 01:15:30
544,Laguna,38.4210,-121.4238,66.20,52,1,6.91,US,2021-02-11 01:11:07

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = nice_cities_df[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                     City Country  Latitude  Longitude Hotel Name
17                  Arlit      NE   18.7369     7.3853
23               Tessalit      ML   20.1986     1.0114
35                 Hobart      AU  -42.8794   147.3294
44                 Bayamo      CU   20.3792   -76.6433
81                 Abéché      TD   13.8292    20.8324
99              Mount Isa      AU  -20.7333   139.5000
119               Salalah      OM   17.0151    54.0924
127             Gladstone      AU  -23.8500   151.2500
152               Barstow      US   34.8986  -117.0228
183             Matamoros      MX   25.5333  -103.2500
209              Coacoyul      MX   17.8058   -99.1100
244              Flinders      AU  -34.5833   150.8552
255                 Birao      CF   10.2849    22.7882
257              Adelaide      AU  -34.9333   138.6000
262              Acajutla      SV   13.5928   -89.8275
297               Qandala      SO   11.4720    49.8728
318                Maridi      SS    4.9158    29.4742
330             Taoudenni      ML   22.6783    -3.9836
360                Kaduna      NG   10.5222     7.4383
364  Makkah al Mukarramah      SA   21.4267    39.8261
376                 Wamba      NG    8.9333     8.6000
384          General Roca      AR  -39.0333   -67.5833
410                Karwar      IN   14.8000    74.1333
411                Marana      US   32.4367  -111.2254
414                 Mbour      SN   14.4220   -16.9638
470                 Nioro      GM   13.3500   -15.7500
471              Progreso      MX   21.2833   -89.6667
478             Geraldton      AU  -28.7667   114.6000
526                 Rabak      SD   13.1809    32.7400
544                Laguna      US   38.4210  -121.4238

In [7]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result")

Missing field/result
Missing field/result
Missing field/result
Missing field/result
Missing field/result
Missing field/result

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))